
.congrats {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 100px;
  margin-bottom: 120px;
}
.congrats span {
  font-family: Cursive, 'Lucida Handwriting';
  position: relative;
  display: inline-block;
  color: rgb(228, 12, 12);
  text-transform: uppercase;
  animation: wave 1s infinite;
  animation-delay: calc(.1s * var(--i));
}


.happy, 
.sad {
  animation: emojiRotation 2s forwards;
}

.sorry {
  animation: textRotation 1s forwards;
 
}
/* .sad-revealed {
    display: block;
    animation-name: revealSadEmoji;

} */


@keyframes revealSadEmoji {
    from {height: 0; width: 0;}
    to {height:280; width: 280}
  }

@keyframes wave {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

  @keyframes textRotation {
    from {font-size: 30px;}
    to {font-size: 100px;}
    100% {transform: rotate(1080deg); } 
  }

  @keyframes emojiRotation {
    to {height: 300px; width: 300px}
    100% {transform: rotate(1080deg); } 
  }